header{
    display: flex;
    place-content: center;
    padding-top: 20px;
}

body{
    background-color: black;
}

nav{
    display: flex;
    gap: 30px;
    margin-left: 3rem;
    margin-bottom: 1rem; 
}

button{
    border: none;
    padding: 15px
}

.MenuIten{
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
   max-width: 14.2rem;
    max-height: 12rem;
    text-align: center;
}

.MenuIten > p{
  max-width: 12.688;
}
.MenuIten >h1{
    max-width: 14.2rem;
}

.MenuGrid{
    display: grid;
    grid-template-columns: repeat(3,15rem);
    place-content: center;
    gap: 2rem;
    height: 34rem;
    background-color: white;
    max-width: 70rem;
    margin-left: 15%;
 
        
}

.ItenMain > div:nth-child(1) {
  display: flex;
  place-content: center;
  max-width: 70rem;
  margin-left: 15%;
  background-color: white;
  height: 10px;  
}
